<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="container my-5">
        <h1>All Farms</h1>
    </div>
    <div class="row">
            <% for(let farm of farms) { %>
                <div class="col-4 card mb-4 mx-3 px-0" style="width: 30%;">
                    <img src="<%= farm.imageURL %>" class="card-img-top img-fluid object-fit-cover border rounded" style="height: 200px;" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= farm.name %>
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eaque.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">City: <%= farm.city %>
                        </li>
                        <li class="list-group-item">Email <%= farm.email %>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="/farms/<%= farm._id %>" class="card-link btn btn-success">Show</a>
                        <a href="/farms/<%= farm._id %>/edit" class="card-link btn btn-dark">Edit</a>
                    </div>
                </div>
                <% } %>
        </div>
</div>